<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.ICommentDAO">
	<resultMap id="comment_DB_Result" type="comment">
		<result column="code" property="code" />
		<result column="parent_code" property="parentCode" />
		<result column="type" property="type" />
		<result column="creater" property="creater" />
		<result column="to_code" property="toCode" />
		
		<result column="content" property="content" />
		<result column="create_datetime" property="createDatetime" />
		<result column="status" property="status" />
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="creater != null and creater != '' ">
				AND t.creater = #{creater}
			</if>
			<if test="parentCode != null and parentCode != '' ">
				AND t.parent_code = #{parentCode}
			</if>
			<if test="toCode != null and toCode != '' ">
				AND t.to_code = #{toCode}
			</if>
			<if test="content != null and content != '' ">
				AND t.content like "%"#{content}#"%"
			</if>
			
			<choose>
				<when test="status != null and status != '' ">
					AND t.status = #{status}
				</when>
				<when test="statusList != null and statusList.size() > 0 ">
					AND t.status IN
					<foreach collection="statusList" item="item" index="index" open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
			</choose>
			
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime < #{createDatetimeEnd}]]>
			</if>
			<if test="unCreater != null and unCreater != '' ">
				AND t.creater != #{unCreater}#
			</if>
		</trim>
	</sql>
	
	<select id="select_comment" parameterType="comment" resultMap="comment_DB_Result">
		SELECT
		t.code
		,t.parent_code
		,t.type
		,t.creater
		,t.to_code
		
		,t.content
		,t.create_datetime
		,t.status
		,t.approver
		,t.approve_datetime
		,t.remark
		FROM
		thqxj_comment t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_comment_count" parameterType="comment"
		resultType="java.lang.Long">
		SELECT count(1) FROM thqxj_comment t
		<include refid="where_condition" />
	</select>

	<insert id="insert_comment" parameterType="comment">
		INSERT INTO
		thqxj_comment(
		code
		,parent_code
		,type
		,creater
		,to_code
		,content
		,create_datetime
		,status
		,remark
		)
		VALUES(
		#{code}
		,#{parentCode}
		,#{type}
		,#{creater}
		,#{toCode}
		,#{content}
		,#{createDatetime}
		,#{status}
		,#{remark}
		)
	</insert>

	<update id="update_approveComment" parameterType="comment">
		UPDATE thqxj_comment
		SET
		status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_deleteComment" parameterType="comment">
		UPDATE thqxj_comment
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
</mapper>