<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogc.standard.dao.IQuestionDAO">
	<resultMap id="question_DB_Result" type="question">
		<result column="id" property="id" />
		<result column="session_code" property="sessionCode" />
		<result column="user_id" property="userId" />
		<result column="content" property="content" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="sessionCode != null and sessionCode != '' ">
				AND t.session_code = #{sessionCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<insert id="insert_question" parameterType="question">
		INSERT INTO thqxj_question(
		id
		,session_code
		,user_id
		,content
		,status
		,create_datetime
		)
		VALUES(
		#{id}
		,#{sessionCode}
		,#{userId}
		,#{content}
		,#{status}
		,#{createDatetime}
		)
	</insert>
	
	<update id="update_status" parameterType="question">
		UPDATE thqxj_question
		SET
		status=#{status}
		WHERE
		id=#{id}
	
	</update>
	
	<select id="select_question" parameterType="question" resultMap="question_DB_Result">
		SELECT
		t.id
		,t.session_code
		,t.user_id
		,t.content
		,t.status
		,t.create_datetime
		FROM
		thqxj_question t 
		<include refid="where_condition" />
	</select>
		
	<select id="select_question_count" parameterType="question"
		resultType="java.lang.Long">
		SELECT count(1) FROM thqxj_question t
		<include refid="where_condition" />
	</select>
</mapper>